			* {
				cursor:url('imagenes/cursor2.png'), auto;
				}
			@font-face {
				font-family: kobe;
				src: url("fuente/kobe.ttf");
				}
			.cursor {
				cursor:url('imagenes/cursor3.png'), auto;
				}
			input {
				cursor:text;
				}
			#main {
				background-image:url("imagenes/wall.jpg");
				width:1520px;
				height:1200px;
				}
			#contenedora{
				background-color:grey;
				position:relative;
				width:1000px;
				height:1200px;
				margin:auto;
				border:hidden;
				}
			#cabecera{
				position:relative;
				width:1000px;
				height:300px;
				margin-left:0px;
				top:0px;
				background-image:url("imagenes/marcas2.jpg");
				box-shadow:1px 1px 2px;
				}
			#usuario {
				position:absolute;
				background-color:yellow;
				width:190px;
				height:110px;
				margin-top:30px;
				margin-left:760px;
				color:black;
				font-family:kobe;
				font-weight:bold;
				text-align:center;
				box-shadow:2px 2px 4px 2px;
				border-radius:5px;
				padding-top:10px;
				}
			#registro {
				position:absolute;
				weight:200px;
				height:80px;
				margin-top:170px;
				margin-left:827px;
				color:black;
				text-align:center;
				font-weight:bold;
				box-shadow:2px 2px 4px 2px;
				border-radius:5px;
				background-color:yellow;
				font-family:kobe;
				font-size:20px;
				padding:10px 10px;
				}
			h1 {
				font-family:kobe;
				}
			h2 {
				font-family:kobe;
				}
			img {
				width:70px;
				height:70px;
				}
			
			#menu{
				background-color:yellow;
				position:relative;
				width:900px;
				height:100px;
				margin-left:50px;
				margin-top:0px;
				font-family:kobe;
				box-shadow:2px 2px 4px;
				border-radius:5px;
				}
			#menu ul {
				list-style:none;
				padding:0;
				margin-left:50px;
				margin-top:0px;
				font-size:35px;
				}
			#menu li {
				line-height:3em;
				position:relative;
				width:160px;
				font-weight:bold;
				text-align:center;
				cursor:url('imagenes/cursor3.png'), auto;
				}
			#menu li ul {
				display:none;
				position:absolute;
				margin-top:0px;
				margin-left:0px;
				}
			#menu a {
				color:black;
				display:block;
				padding:0 2em;
				text-decoration:none;
				font-size:15px;
				cursor:url('imagenes/cursor3.png'), auto;
				}
			#menu li:hover {
				background-color:grey;
				}
			#menu a:hover {
				background:grey;
				}
			#menu li:hover ul {
				display:block;
				width:100%;
				background-color:yellow;
				z-index:1;
				border-radius:5px;
				box-shadow:2px 2px 4px;
				}
			#menu > ul > li {
				float:left;
				}
			#invisible	{
				background-color:grey;
				position:relative;
				width:800px;
				height:500px;
				margin-left:80px;
				margin-top:50px;
				}
			#invisible img:hover {
				z-index:10;
				}
			#foto1 img {
				width:300px;
				height:300px;
				position:absolute;
				top:20px;
				left:5px;
				box-shadow:2px 2px 4px;
			}
			#foto2 img {
				width:300px;
				height:300px;
				position:absolute;
				top:250px;
				left:30px;
				box-shadow:2px 2px 4px;
			}
			#foto3 img {
				width:300px;
				height:300px;
				position:absolute;
				top:0px;
				left:300px;
				box-shadow:2px 2px 4px;
			}
			#foto4 img {
				width:300px;
				height:300px;
				position:absolute;
				top:270px;
				left:300px;
				box-shadow:2px 2px 4px;
			}
			#foto5 img {
				width:300px;
				height:300px;
				position:absolute;
				top:10px;
				left:520px;
				box-shadow:2px 2px 4px;
			}
			#foto6 img {
				width:300px;
				height:300px;
				position:absolute;
				top:250px;
				left:550px;
				box-shadow:2px 2px 4px;
			}
			#contenido {
				background-color:yellow;
				position:absolute;
				width:600px;
				height:400px;
				margin-left:100px;
				top:50px;
				text-align:center;
				box-shadow:2px 2px 4px;
				font-family:arial;
				border-radius:5px;
				padding:20px;
			}
			iframe {
				width:600px;
				height:400px;
			}
			#pie{
				background-color:yellow;
				position:relative;
				width:400px;
				height:50px;
				margin-left:550px;
				top:70px;
				font-size:30px;
				text-align:right;
				box-shadow:2px 2px 4px;
				border-radius:5px;
				}
			#footer {
				padding:10px;
				margin-right:40px;
				font-family:kobe;
				font-weight:bold;
				font-size:40px;
				}
			#fin {
				position:relative;
				top:80px;
				text-align:center;
				}